@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');

$neck-color: #aabee3;
$neck-height: 225px;
$neck-width: 1180px;
$neck-height-with-offset: $neck-height + 20px;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
.guitar-neck {
  font-family: 'Source Code Pro', sans-serif;
  position: relative;
  margin-top: 40px;
  margin-left: 3em;
  margin-right: auto;
  width: $neck-width;
  height: $neck-height;
  background: $neck-color;
  box-shadow: 0px 10px 14px 0px #d9dee5;

  @media print {
    display: none;
  }

  &-scrollable-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 70px;
  }

  &-wrapper {
    width: $neck-width;
    margin: 0 auto;
    height: $neck-height + 25;
  }

  .open-notes {
    position: absolute;
    font-family: 'Source Code Pro', sans-serif;
    top: 2px;
    left: -2.3rem;

    select {
      background: transparent;
      border: 0;
      -webkit-appearance: unset;
      color: #fff;
    }

    > * {
      margin-bottom: 2.55rem;
      display: block;

      &.active {
        color: #fa990f;
      }
    }
  }

  .fret {
    float: left;
    width: 3px;
    height: $neck-height;
    background: #aabee3;
    margin-right: 40px;
    border-right: 2px solid #d3dbe8;

    > span {
      position: absolute;
      top: -3rem;
      font-size: 1.6rem;
      width: 40px;
      margin-left: 4px;
      text-align: center;
      color: #aabee3;
      user-select: none;
    }

    &.first {
      position: relative;
      width: 30px;
      left: -31px;
      margin-right: 0.8rem;
      top: 0;
      margin-left: 0;
      background: #94a8ce;

      > span {
        margin-left: 30px;
      }
    }
  }

  .dots {
    position: absolute;
    width: 642px;
    height: 20px;
    top: 44%;
    left: 14.5rem;
    li {
      float: left;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #94acd7;
      margin-right: 11.4rem;
    }
  }

  .strings {
    position: absolute;
    left: 0;
    top: 0;
    width: $neck-width;
    height: $neck-height;
    padding-top: 8px;

    li {
      height: 1px;
      display: block;
      width: 100%;
      background: #97add6;
      border-bottom: 2px solid #97add6;
      box-sizing: border-box;
      margin-bottom: $neck-height / 6;
    }
    li:nth-child(2) {
      height: 2px;
    }
    li:nth-child(3) {
      height: 3px;
    }
    li:nth-child(4) {
      height: 4px;
    }
    li:nth-child(5) {
      height: 5px;
    }
    li:nth-child(6) {
      height: 6px;
    }
  }

  .notes {
    position: absolute;
    left: 4px;
    width: $neck-width;
    height: $neck-height;
    top: -5px;

    &:after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(152, 171, 204, 1));
      content: '';
      width: 20px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 5px;
    }

    .mask {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 30px;
      overflow: hidden;

      ul {
        position: relative;
        float: left;
        margin-left: -1.7rem;
        width: 200%;

        button {
          float: left;
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 2rem;
          margin-right: 0rem;
          background: #a0b4d9;
          color: #fff;
          border-radius: 50%;
          text-align: center;
          line-height: 26px;
          font-size: 1.3rem;
          font-weight: 600;
          cursor: pointer;
          border: 0;
          padding: 0;
          transition: 0.1s ease all;

          &:hover,
          &:focus {
            background: #093d5d;
            outline: none;
          }

          &::selection {
            background-color: transparent;
          }
        }
      }

      &:nth-child(2) {
        top: ($neck-height-with-offset / 6);
      }
      &:nth-child(3) {
        top: ($neck-height-with-offset / 6) * 2;
      }
      &:nth-child(4) {
        top: ($neck-height-with-offset / 6) * 3;
      }
      &:nth-child(5) {
        top: ($neck-height-with-offset / 6) * 4;
      }
      &:nth-child(6) {
        top: ($neck-height-with-offset / 6) * 5;
      }
    }
  }
}
