.tab-editor {
  @media print {
    display: none;
  }
  &__container {
    position: relative;
    background: $color-bg;
    cursor: text;
    overflow: auto;
    color: #000;
    flex: 1 0 auto;

    button {
      margin-right: 1rem;
    }
  }

  &__code {
    height: 100%;
    font-family: monospace, monospace;
    font-size: 1.6rem;
  }
}
