html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  color: $color-text-primary;

  & > div {
    height: 100%;
  }
}

body {
  font-size: 1.6rem;
}

button {
  font-size: 1.4rem;
}

.App {
  text-align: center;
  background-color: $color-bg;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tab-preview {
  display: none;
}
