$color-bg: #f7f7f7;
$color-primary: #fba04b;
$color-secondary: #b5bccf;

$color-text-primary: #fff;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

:root {
  --primary: #2549fa;
  --secondary: #aabee3;
}
